"""
Base Model

This module defines the SQLAlchemy declarative base for all models.
"""

from sqlalchemy.orm import DeclarativeBase


class Base(DeclarativeBase):
    """SQLAlchemy declarative base class."""

    pass
