"""
Configuration Module
"""

from app.config.base import BaseConfig, DevConfig, ProdConfig
from app.config.env import AppConfig
{% if use_database %}
from app.config.env import DatabaseConfig
{% endif %}
{% if use_redis %}
from app.config.env import RedisConfig
{% endif %}
{% if use_auth %}
from app.config.env import JwtConfig
{% endif %}

__all__ = [
    "BaseConfig",
    "DevConfig",
    "ProdConfig",
    "AppConfig",
{% if use_database %}
    "DatabaseConfig",
{% endif %}
{% if use_redis %}
    "RedisConfig",
{% endif %}
{% if use_auth %}
    "JwtConfig",
{% endif %}
]
